.List {
  /* styles */
}

.List-item {
  border-bottom: 1px dashed #ccc;
}

.List-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.List-total strong {
  min-width: 9%;
  padding: 20px 24px 20px 0px;
  text-align: right;
  font-size: 18px;
}

.List-total strong:last-child {
  padding-left: 8px;
}
