.CartInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 20px;
  padding-right: 0;
  margin-bottom: 2px;
  border-bottom: 1px dashed #ccc;
}

.CartInfo-info {
  margin-right: 2px;
  font-size: 18px;
}

.CartInfo-summary {
  font-size: 18px;
}
